<%- include("header.ejs",{"title":title}) %>

<style>
    .page_title {
        text-align: center;
        font-size: 24px;
        color: #3cc51f;
        font-weight: 400;
        margin: 0 15%;
        margin-top: 30px;
    }

    .weui_media_box .weui_media_desc {
        -webkit-line-clamp: inherit;
        line-height: 1.5;
        font-size: 14px;
        /*color: #444;*/
    }

    .red {
        color: red;
    }
</style>
<h1 class="page_title">来个绅士的契约吧！</h1>

<div class="weui_panel">
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <!--<h4 class="weui_media_title">标题一</h4>-->
            <p class="weui_media_desc">
                Hello小主，我是你的Wi-Fi小宠fighting，我因你的业务之需使劲使劲来到这里，所以请不要劫持我的流量去往<span class="red">视频、#%@&站点</span>...因为我的自制力还太弱，会不慎影响到阿拉系统的稳定性。上面说，若是小主被线上监控或线下警力活捉，那可是要剁手的！！！
                <span class="red">首次剁手费1000元人民币</span>呢，要是再次发现，说不定就是英镑了，ohohoh...虽然英镑是跌了，dan还是疼的呢...如果小主的Verbal
                Reasoning能力还不错的话，就当我们的契约即刻生效啦！赶紧把你终端的MAC地址填在下方空格中，每人最多可绑定3个哦！</p>
        </div>
        <div class="weui_media_box weui_media_text red">
            请按以下格式输入 <br/> <b>d003:4bae:f2cd</b>
        </div>
    </div>
</div>

<form action="form/data" method="post" id="form">

    <!--<div class="weui_cells_title" style="margin-top: 50px;"></div>-->

    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" for="mac1">MAC 地址1</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入MAC" id="mac1" name="mac1">
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" for="mac2">MAC 地址2</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入MAC" id="mac2" name="mac2">
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" for="mac3">MAC 地址3</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入MAC" id="mac3" name="mac3">
        </div>
    </div>

    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:" id="J-submit">确定</a>
    </div>
</form>
<div class="weui_toptips weui_warn J-warn"></div>


<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/api.js"></script>
<script>


    $('#J-submit').click(function () {
        var macArray = [$('#mac1').val(), $('#mac2').val(), $('#mac3').val()];
        if (macArray[0].length + macArray[1].length + macArray[2].length <= 0) {
            showmsg('至少输入一个mac地址再提交');
        } else if ((macArray[0].length > 0 && macArray[0].indexOf(':') < 0 ) || (macArray[1].length > 0 && macArray[1].indexOf(':') < 0 ) || (macArray[2].length > 0 && macArray[2].indexOf(':') < 0)) {
            showmsg('mac地址格式不对');
        } else {

            macArray[0] = macArray[0].toLowerCase();
            macArray[1] = macArray[0].toLowerCase();
            macArray[2] = macArray[0].toLowerCase();
            $('#form').submit();

        }
    })

    function showmsg(msg) {
        $('.J-warn').text(msg).fadeIn();
        setTimeout(function () {
            $('.J-warn').fadeOut();
        }, 1200)
    }
</script>

<%- include footer.ejs %>
