<!DOCTYPE html>
<html>
<head>
    <title><%= title %> +1</title>
    <link rel='stylesheet' href='/stylesheets/weui.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <meta name="referrer" content="always"/>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>

