<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/admin/require.js"></script>
<script type="text/javascript" src="/javascripts/admin/BUI-build.js"></script>
<script type="text/javascript">

</script>

</body>
</html>
