<%- include("header.ejs") %>

<div id="header">
    <div id="header-nav-block">
        <div id="header-nav">
            <div id="logo">

            </div>
            <ul id="nav-list">
                <li class="nav-item yummy-handms"><a href="javascript:void(0)">优惠券验证</a></li>

                <li class="nav-item new-nav-item nav-item-active">
                    <a href="javascript:void(0)">一招过记录</a>
                </li>

            </ul>
        </div>
    </div>
    <div id="nav-crumbs">
        <div id="store-title">
            你好，<span></span>
        </div>
        <div id="user-info">
            <a class="J-esc" href="javascript:void(0);"><span class="info-item info-right-line">退出登录</span></a>
            <a class="J-personal" href="javascript:void(0);"><span class="info-item">修改密码</span></a>
        </div>
    </div>
</div>

<div id="main"></div>


<%- include footer.ejs %>
